.post-card {
    box-sizing: border-box;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis
}

.post-card__header {
    color: black;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4rem;
}

.post-card__subheader {
    color: black;
    cursor: text;
}

.post-card__body {
    color: black;
    overflow: hidden;
    white-space: nowrap;
}