.posts-container__card {
    position: relative;
}

.posts-container__card_fade {
    z-index: 99;
    position: absolute;
    bottom: 0px;
    background: url('/img/bottom-fade.png');
}

.post-card {
    box-sizing: border-box;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.post-card__header {
    color: black;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4rem;
}

.post-card__subheader {
    color: black;
    cursor: text;
}

.post-card__body {
    color: black;
    overflow: hidden;
}