body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a3a3a;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: rgb(197, 197, 197);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 4.3rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  color: #bbbbbb;
}
