body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #3a3a3a; */
  background-color: #1f1d24;
  color: #f9f9f9;
  font-family: 'Alegreya Sans', sans-serif;
}

::selection {
  background-color: rgb(197, 197, 197);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 1.5rem;
  color: #bbbbbb;
}
